body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../imagenes/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textohero {
    color:rgb(236, 209, 255);
    }

.textoh {
    color: rgb(255, 255, 255)
    }