body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../imagenes/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textohero {
    color:rgb(236, 209, 255);
    }

.textoh {
    color: rgb(255, 255, 255)
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; 
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
}

/* Flecha izquierda */
.carousel-control-prev-icon {
  transform: rotate(135deg);
  margin-left: 10px;
}

/* Flecha derecha */
.carousel-control-next-icon {
  transform: rotate(-45deg);
  margin-right: 10px;
}

