body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.texto-superpuesto {
      position: absolute;
      top: 100%;
      left: 60%;
      transform: translate(-50%, -50%);
      color: rgb(255, 255, 255);
      font-size: 500%;
      font-weight: bolder;
      background-color: rgba(212, 18, 238, 0);
      padding: 50px;
      border-radius: 30px;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
